#imageModalImg,#imageModalPrevImg,#imageModalNextImg,.img-modal-img-ghost{
  width:auto!important;height:auto!important;
  max-width:100%!important;max-height:100%!important;
  object-fit:contain!important;
}
